.question{

    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.question textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.general_info {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.questions_space {
    margin: 20px;
}
.questions_space button {
    margin: 10px;
}